= simple_form_for @task do |f|
  = f.error_notification
  .form-inputs
    = f.simple_fields_for :task_detail do |df|
      = df.input :bonus, :collection => [5, 10, 20]
      = df.input :longitude
      = df.input :latitude
      /= df.input :expect_time

  .form-actions
    = f.button :submit, :class => 'btn-primary'

javascript:
  $(function(){
    function success(position) {
      console.log(position)
      $('#task_task_detail_attributes_longitude').val(position.coords.longitude)
      $('#task_task_detail_attributes_latitude').val(position.coords.latitude)
      console.log()
    }
    function fail(error) {
      console.log(error)
    }
    navigator.geolocation.getCurrentPosition(success, fail, {maximumAge: 500000, enableHighAccuracy:true, timeout: 6000});
  })