- task = @task.decorate

p#notice = notice

p
  strong Name:
  = task.show_name

= link_to 'Apply', new_task_apply_path(task)
'|
= link_to 'Edit', edit_task_path(task)
'|
= link_to 'Back', tasks_path
