// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

main {
  @extend .container;
  padding-top: 20px;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}