.card{
 padding: 0 15px 15px;  
}
.task{
  padding: 10px;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  box-shadow: none;  
}
